$primary: rgb(0, 153, 102);
$primary-80: rgba(0, 153, 102, 0.8);
$primary-60: rgba(0, 153, 102, 0.6);
$primary-40: rgba(0, 153, 102, 0.4);
$primary-20: rgba(0, 153, 102, 0.2);

$secondary: rgb(140, 0, 153);
$secondary-80: rgba(140, 0, 153, 0.8);
$secondary-60: rgba(140, 0, 153, 0.6);
$secondary-40: rgba(140, 0, 153, 0.4);
$secondary-20: rgba(140, 0, 153, 0.2);
$lightgrey: #d6d6d6;
.v-date-picker-table.v-btn.v-btn--active {
    color: $secondary!important;
}
.venue-list {
    .venue {
        
    }
}